:root {
  --color-main: #1824a2;
  --color-main-dark: #00153f;

  --color-white: #f4f6f7;
  --color-red: #ec7063;
  --color-blue: #5dade2;
  --color-yellow: #f4d03f;
  --color-green: #52be80;

  --color-hints: rgb(0, 61, 181);
  --color-strikes: rgb(192, 21, 21);

  --color-gray-light: #ddd;
}
